body
{
  font-family: 'Dosis', sans-serif;
  background-size : cover;
  background-color: black;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: arial;
  font-weight: bold;
  color: white;
}

*{
  box-sizing: border-box;
}
h1{
  margin-top: 100px;
  color :white;
  font-size: 100px;
  text-align: center;
  text-shadow: -5px -5px #f5f1f1 ;

}
h3{
  color:white;
  margin-left:620px;
  margin-top: 50px;
  font-size: 50px;
  animation-duration: 1s;
  animation-name: clear;/*l'animation*/
}
a{
  text-decoration: none;
}
.container{
  display: flex;
  justify-content: space-around;
  align-self: center;
  width: 500px;
  margin-left: 420px;
}

table {
  margin: 85px auto;
  box-sizing: border-box;
  border-collapse:collapse;
 }

td {
  width: 150px;
  height: 150px;
  font-family: 'Spectral SC', serif;
  font-size: 80px;
  color: white;
  font-weight: bold;
  text-align: center;
 }

.c1 {
  border-right : 5px solid white;
  border-bottom:5px solid white;

}
.c2{
  border-bottom: 5px solid white;
}

.c3{
    border-left : 5px solid white;
    border-bottom:5px solid white;
}

 .c4{
  border-right: 5px solid white;
  border-top : 5px solid white;
  border-bottom: 5px solid white;
 }
 .c7{
  border-right: 5px solid white;
  border-top : 5px solid white;
 }

 .c6{
   border-top: 5px solid white;
   border-bottom:5px solid white;
   border-left: 5px solid white;
 }

.c8{
  border-top: 5px solid white;
  border-left:5px bold white;
  border-right: 5px bold white;
}

.c9{
  border-top:5px solid white;
  border-left:5px solid white;
}

.gamer{
  width: 500px;
  height: 500px;
}

 .joueur1, .joueur2{
  cursor: pointer;
 }

.joueur1{
  font-family: 'Dosis', sans-serif;
  font-size: 100px;
  color: white;
  font-weight: bold;
}

.joueur2{
  font-family: 'Dosis', sans-serif;
  font-size:100px;
  color: white;
  font-weight: bold;
}

@keyframes clear {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}